.admin-layout {
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  background: #f8f9fa;
  position: relative;

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1040;
    animation: fadeIn 0.3s ease;
  }

  .main-content {
    flex: 1;
    background: #f9f9f9;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
    padding: 1.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
