body {
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  background-color: #eff1f2 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: #a1171d;
  border-color: #a1171d;
  &:hover {
    background-color: #861216;
  }
}

input {
  box-shadow: none !important;
}
